<!DOCTYPE html>
<html lang="zh-Hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://jsd.onmicrosoft.cn/npm/@unocss/runtime"></script>
  <script src="https://cdnjs.onmicrosoft.cn/ajax/libs/alpinejs/3.13.5/cdn.min.js" defer></script>
  <link rel="stylesheet" href="https://s1.hdslb.com/bfs/static/jinkela/long/font/regular.css">
  <title>Lainbo WARP 订阅地址生成器</title>
  <style>
    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }

    ::selection {
      background: #646cff;
      color: #fff;
    }

    html:lang(zh) body {
      font-family: "HarmonyOS Sans SC", "HarmonyOS_Regular", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    }

    body {
      margin: 0;
    }
  </style>
</head>

<body>
  <div x-data="subscriptionGenerator()" class="bg-gray-100 flex justify-center">
    <div class="min-h-screen flex flex-col items-center w-800px pt-6">
      <div class="bg-white rounded-lg shadow-lg w-full">
        <div class="p-8 w-full">
          <h1 class="text-2xl font-bold text-gray-700 mb-6">Lainbo WARP 订阅地址生成器</h1>
          <template x-if="isLocal">
            <div>
              <p class="text-red-500">您的域名看起来似乎是本地域名，这意味着您的订阅地址<b>无法</b>被局域网及公网访问。</p>
            </div>
          </template>
          <form class="select-none">
            <div class="mb-4">
              <label for="secret_key" class="block text-gray-700 text-sm font-medium mb-2">SECRET_KEY</label>
              <input type="text" id="secret_key" name="secret_key" x-model.trim="formData.passwordInput"
                class="block w-full p-2.5 bg-gray-100 border-0 shadow-sm text-gray-700 rounded-lg focus:outline-#646cff focus:bg-white"
                placeholder="请输入SECRET_KEY">
            </div>
            <div class="flex items-center mb-4">
              <input id="best_node" type="checkbox" x-model="formData.alwaysBest"
                class="w-4 h-4 text-blue-600 bg-gray-100 rounded focus:ring-#646cff">
              <label for="best_node" class="ml-2 text-sm font-medium text-gray-700">始终选择最优节点(不建议)</label>
            </div>
            <div class="flex items-center mb-4">
              <input id="random_node_name" type="checkbox" x-model="formData.randomName"
                class="w-4 h-4 text-blue-600 bg-gray-100 rounded focus:ring-#646cff">
              <label for="random_node_name" class="ml-2 text-sm font-medium text-gray-700">随机节点名称</label>
            </div>
            <div class="flex items-center mb-4">
              <input id="random_node_name" type="checkbox" x-model="formData.ipv6"
                class="w-4 h-4 text-blue-600 bg-gray-100 rounded focus:ring-#646cff">
              <label for="random_node_name" class="ml-2 text-sm font-medium text-gray-700">IPv6</label>
            </div>
            <div class="mb-4">
              <label for="subscription_format" class="block text-gray-700 text-sm font-medium mb-2">订阅格式</label>
              <select id="subscription_format" name="subscription_format" x-model="formData.proxyFormat"
                class="block w-full p-2.5 bg-gray-100 border-0 shadow-sm text-gray-700 rounded-lg focus:bg-white focus:outline-none focus:ring-2 focus:ring-#646cff focus:border-#646cff">
                <option value="full">完整订阅</option>
                <option value="proxies_groups">Proxies & Proxy Groups</option>
                <option value="proxies_only">仅包含Proxies</option>
              </select>
            </div>
          </form>
        </div>
        <div class="relative flex justify-center">
          <div class="absolute top-0 bottom-0 m-block-auto h-1px w-full bg-gray-200"></div>
          <div class="mx-0 my-auto text-gray-500 bg-white z-1 px-2 text-sm">订阅链接</div>
        </div>
        <div class="w-full px-8 pb-8">
          <template x-for="(item, index) in resultDataArr" :key="index">
            <div>
              <h2 class="text-xl font-semibold text-gray-700 mb-2" x-text="item.name"></h2>
              <div class="flex items-center">
                <div class="flex flex-col text-#646cff select-all w-full overflow-hidden break-all" x-text="item.value">
                </div>
              </div>
            </div>
          </template>
          <div class="text-gray-400">
            <p>以上所有不保证任何时段速度, 只保证连通性</p>
          </div>
        </div>
      </div>
      <p>
        <a class="text-#646cff no-underline hover:text-blue-700" href="https://github.com/lainbo/WARP-Clash-API"
          target="_blank">
          GitHub
        </a>
      </p>
    </div>
  </div>


  <script>
    function subscriptionGenerator() {
      return {
        isLocal: false,
        formData: {
          passwordInput: '',
          alwaysBest: false,
          randomName: false,
          proxyFormat: 'full',
          ipv6: false,
        },
        resultDataArr: [
          { name: '自动判断订阅类型', key: 'autoSubscriptionLink', value: '' },
          { name: 'Clash', key: 'subscriptionLink', value: '' },
          { name: 'ShadowRocket', key: 'subShadowRocketSubscriptionLink', value: '' },
          { name: 'Loon', key: 'subLoonScriptionLink', value: '' },
          { name: 'Surge', key: 'subSurgeScriptionLink', value: '' },
          { name: 'Wireguard', key: 'WireguardLink', value: '' },
        ],
        init() {
          this.checkLocal();
          this.generateLink();
          this.$watch('formData', () => {
            this.generateLink();
          });
        },
        checkLocal() {
          const localUrls = ['localhost', '127.0.0.1', '0.0.0.0'];
          this.isLocal = localUrls.includes(window.location.hostname);
        },
        generateLink() {
          const { passwordInput: password, alwaysBest: best, randomName, proxyFormat, ipv6 } = this.formData;
          const baseUrl = `${window.location.protocol}//${window.location.host}/`;
          const queryParams = new URLSearchParams({ best, randomName, proxyFormat, ipv6 });

          if (password.length) {
            queryParams.append('key', password);
          }

          const queryParamsString = queryParams.toString();
          const apiPaths = {
            autoSubscriptionLink: 'sub',
            subscriptionLink: 'api/clash',
            subShadowRocketSubscriptionLink: 'api/shadowrocket',
            subLoonScriptionLink: 'api/loon',
            subSurgeScriptionLink: 'api/surge',
            WireguardLink: 'api/wireguard',
          };

          this.resultDataArr.forEach(item => {
            const path = apiPaths[item.key];
            if (path) {
              item.value = `${baseUrl}${path}?${queryParamsString}`;
            }
          });
        }

      };
    }
  </script>
</body>

</html>
